@page "/"

<PageTitle>Demo Sample for Error Log</PageTitle>

<div><NavLink href="page not found">Page not found error handling</NavLink></div>
<div><NavLink href="handling-component-error">Handling Component Error</NavLink></div>
<div><NavLink href="handling-http-errors-by-http-client-wrapper">Handling HTTP Errors by HttpClient Wrapper</NavLink></div>
<div><NavLink href="custom-error-handling">Custom Error Handling</NavLink></div>
<div><NavLink href="common-mistake-trigger-error-outside-scope">Common Mistake Trigger Error Outside Scope</NavLink></div>